<%-include("../partials/adminPartials/header")%>
  <style>
    .product-text-container {
      /* background-color: aqua; */
      border-radius: 12px;
      width: 100%;
      height: 56px;
      margin-top: 73px;
      box-shadow: 0px 0px 7px -3px;

    }

    #form {
      border: 2px;
      /* Add border style here */
      padding: 15px;
      /* Add padding for better appearance */
      border-radius: 10px;
      /* Optional: Add border radius for rounded corners */
      box-shadow: 0px 0px 7px -3px;
    }
  </style>

  <div class="product-text-container container" style="display: flex; justify-content: space-between;">
    <h4 style="    margin-top: 11px;" id="ManageProduct-text"> EDIT PRODUCT</h4>

  </div>
  <div class="container mt-5">

    <!-- Bootstrap form with grid layout -->

    <form action="/admin/edit-Product/<%=productData.id %>"  onchange="return validateForm()" method="POST" id="form" enctype="multipart/form-data">

      <!-- General Information Section -->
      <div class="row mb-4">
        <div class="col-md-6">
          <label for="productName" class="form-label">Product Name</label>
          <input type="text" class="form-control" id="productName" value="<%=productData.name %>" name="name"
            placeholder="Product name" required>
            <p style="color: rgb(252, 56, 56);" id="productNameError"></p>
        </div>
        <div class="col-md-6">
          <label for="productPrice" class="form-label">Price</label>
          <input type="number" class="form-control" id="productPrice" value="<%=productData.price %>" name="price"
            placeholder="Price" required>
            <p style="color: rgb(252, 56, 56);" id="productPriceError"></p>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-6">
          <label for="productDescription" class="form-label">Product Description</label>
          <textarea class="form-control" id="productDescription" name="description" placeholder="Product Description"
            rows="3" required><%=productData.description %></textarea>
            <p style="color: rgb(252, 56, 56);" id="productDescriptionError"></p>
        </div>
        <div class="col-md-6">
          <label for="productColor" class="form-label">Color</label>
          <input type="text" class="form-control" id="productColor" value="<%=productData.color %>" name="color"
            placeholder="Color">
            <p style="color: rgb(252, 56, 56);" id="productColorError"></p>
        </div>
        <div class="col-md-6">
          <label for="productColor" class="form-label">Brand</label>
          <input type="text" class="form-control" id="productBrand" value="<%=productData.brand %>" name="brand"
            placeholder="brand name">
            <p style="color: rgb(252, 56, 56);" id="productBrandError"></p>
        </div>
        <div class="col-md-6">
          <label for="productColor" class="form-label">Category</label>
          <select class="form-select form-select-input form-select-sm shadow-none" name="category" id="category"
            aria-label=".form-select-sm example">
            <option value="<%=productData.category %>" selected>
              <%=productData.category %>
            </option>
            <% categoryData.forEach(data=> { %>
              <option value="<%=data.name %>">
                <%=data.name %>
              </option>

              <% }) %>

          </select>
        </div>
      </div>

      <div class="row mb-4">
        <!-- Add Variant Button -->
        <div class="col-md-12 d-flex justify-content-center">
          <button type="button" class="btn btn-primary" id="addVariant">Add Variant</button>
        </div>
        <p style="color: rgb(252, 56, 56); text-align: center;" id="variantError"></p>
      </div>

      <!-- Size and Color Section -->
      <!-- Size and Quantity Section -->
      <div id="variantSection">
        <!-- Variant Template -->
        <% productData.variant.forEach((variant,index)=> { %>

          <div class="variant-row row mb-4" data-variant-index="<%=index %>">
            <div class="col-md-6">
              <label for="productSize" class="form-label">Size</label>
              <input type="number" class="form-control" name="variant[size][]" value="<%=variant.size%>"
                placeholder="Size">
            </div>
            <div class="col-md-6">
              <label for="productStock" class="form-label">Stock Quantity</label>
              <input type="number" class="form-control" name="variant[quantity][]" value="<%=variant.quantity %>"
                placeholder="Stock" required>
            </div>
            <!-- Remove Variant Icon -->
            <div class="col-md-12 mt-2 d-flex justify-content-end">
              <!-- Ensure at least one variant is always present -->
              <button type="button" class="btn btn-danger" onclick="removeVariant(this)" disabled>&times;</button>
            </div>
          </div>
          <% }) %>

      </div>



      <!-- Image Upload Section -->
      <div class="row mb-4">
        <div class="mb-3">
          <label for="mainImage" class="form-label">Main Image</label>
          <input type="file" class="form-control" id="mainImage" name="mainImage" accept="image/*">
          <img id="mainImagePreview" src="/productImages/<%=productData.images[0] %>" alt="Main Image Preview"
            style="max-width: 100%; max-height: 200px; margin-top: 10px;">
          <input type="hidden" id="productId" value="<%= productData.id %>">
          <button type="button" class="btn btn-danger" onclick="deleteImage(0)">Delete</button>
        </div>

        <div class="mb-3">
          <label for="image1" class="form-label">Product Image 1</label>
          <input type="file" class="form-control" id="image1" name="image1" accept="image/*">
          <img id="image1Preview" src="/productImages/<%=productData.images[1] %>" alt="Image 1 Preview"
            style="max-width: 100%; max-height: 200px; margin-top: 10px;">
          <input type="hidden" id="productId" value="<%= productData.id %>">
          <button type="button" class="btn btn-danger" onclick="deleteImage(1)">Delete</button>
        </div>

        <div class="mb-3">
          <label for="image2" class="form-label">Product Image 2</label>
          <input type="file" class="form-control" id="image2" name="image2" accept="image/*">
          <img id="image2Preview" src="/productImages/<%=productData.images[2] %>" alt="Image 2 Preview"
            style="max-width: 100%; max-height: 200px; margin-top: 10px;">
          <input type="hidden" id="productId" value="<%= productData.id %>">
          <button type="button" class="btn btn-danger" onclick="deleteImage(2)">Delete</button>
        </div>

        <div class="mb-3">
          <label for="image3" class="form-label">Product Image 3</label>
          <input type="file" class="form-control" id="image3" name="image3" accept="image/*">
          <img id="image3Preview" src="/productImages/<%=productData.images[3] %>" alt="Image 3 Preview"
            style="max-width: 100%; max-height: 200px; margin-top: 10px;">
          <input type="hidden" id="productId" value="<%= productData.id %>">
          <button type="button" class="btn btn-danger" onclick="deleteImage(3)">Delete</button>
        </div>

        <div class="mb-3">
          <label for="image4" class="form-label">Product Image 4</label>
          <input type="file" class="form-control" id="image4" name="image4" accept="image/*">
          <img id="image4Preview" src="/productImages/<%=productData.images[4] %>" alt="Image 4 Preview"
            style="max-width: 100%; max-height: 200px; margin-top: 10px;">
          <input type="hidden" id="productId" value="<%= productData.id %>">
          <button type="button" class="btn btn-danger" onclick="deleteImage(4)">Delete</button>
        </div>
      </div>

      <!-- Submit Button -->
      <button type="submit" id="submitButton" class="btn btn-primary">SUBMIT</button>
      <a href="/admin/manage-Product" class="btn btn-secondary">Back to Product</a>

    </form>

  </div>
  <script>
     document.getElementById('addVariant').addEventListener('click', function () {
    // Clone the existing variant section and append it to the variantSection div
    var index = document.querySelectorAll('#variantSection .variant-row').length;
    var newVariantSection = document.querySelector('#variantSection .variant-row').cloneNode(true);

    // Update the variant index in the new variant section
    newVariantSection.setAttribute('data-variant-index', index);

    // Enable the remove button in the new variant section
    var removeButton = newVariantSection.querySelector('button');
    removeButton.removeAttribute('disabled');
    removeButton.addEventListener('click', function () {
      removeVariant(this);
    });

    // Clear input values in the new variant section
    newVariantSection.querySelectorAll('input').forEach(input => {
      input.value = '';
    });

    document.getElementById('variantSection').appendChild(newVariantSection);
  });

  // Enable delete buttons for existing variants initially
  var existingRemoveButtons = document.querySelectorAll('#variantSection .variant-row button');
  existingRemoveButtons.forEach(button => {
    button.removeAttribute('disabled');
    button.addEventListener('click', function () {
      removeVariant(this);
    });
  });

  function removeVariant(button) {
    var variantSection = document.getElementById('variantSection');

    // Ensure at least one variant is always present
    if (variantSection.querySelectorAll('.variant-row').length > 1) {
      // Remove the parent row of the clicked button
      button.closest('.variant-row').remove();
    }
  }
  </script>
  <script>
    // Function to update image preview
    function updateImagePreview(inputId, previewId) {
      var input = document.getElementById(inputId);
      var preview = document.getElementById(previewId);

      input.addEventListener('change', function () {
        var file = input.files[0];

        if (file) {
          var reader = new FileReader();

          reader.onload = function (e) {
            preview.src = e.target.result;
          };

          reader.readAsDataURL(file);
        } else {
          preview.src = '#';
        }
      });
    }

    // Update image previews for each file input
    updateImagePreview('mainImage', 'mainImagePreview');
    updateImagePreview('image1', 'image1Preview');
    updateImagePreview('image2', 'image2Preview');
    updateImagePreview('image3', 'image3Preview');
    updateImagePreview('image4', 'image4Preview');
  </script>

<script>
  function deleteImage(index) {
    const productId = document.getElementById('productId').value;
    console.log('Product ID:', productId);
    
    fetch(`/admin/delete-image/${productId}/${index}`, {
      method: 'DELETE'
    }).then(response => {
      if (response.ok) {
        Swal.fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!"
        }).then((result) => {
          if (result.value) {
            Swal.fire({
              title: "Deleted!",
              text: "Your file has been deleted.",
              icon: "success"
            }).then(() => {
              window.location.reload();
            });
          }
        });
      } else {
        alert('Failed to delete image');
      }
    }).catch(error => {
      console.error('Error deleting image:', error);
    });
  }
</script>


<script>
document.addEventListener('DOMContentLoaded', function () {
  document.getElementById('productName').addEventListener('input', validateForm);
  document.getElementById('productPrice').addEventListener('input', validateForm);
  document.getElementById('productDescription').addEventListener('input', validateForm);
  document.getElementById('productColor').addEventListener('input', validateForm);
  document.getElementById('productBrand').addEventListener('input', validateForm);
  document.querySelectorAll('.variant-row input[name^="variant[size]"]').forEach(function (input) {
    input.addEventListener('input', validateForm);
  });
  document.querySelectorAll('.variant-row input[name^="variant[quantity]"]').forEach(function (input) {
    input.addEventListener('input', validateForm);
  });
});

function validateForm() {
  var productname = document.getElementById('productName').value.trim();
  var productprice = document.getElementById('productPrice').value.trim();
  var productcolor = document.getElementById('productColor').value.trim();
  var productdescription = document.getElementById('productDescription').value.trim();
  var productbrand = document.getElementById('productBrand').value.trim();

  var submitButton = document.getElementById('submitButton');
  if (productname === '') {
    document.getElementById('productNameError').innerHTML = 'product name is required';
    submitButton.disabled = true;
  } else {
    document.getElementById('productNameError').innerHTML = "";
    submitButton.disabled = false;
  }

  if (productcolor === '') {
    document.getElementById('productColorError').innerHTML = 'color is required';
    submitButton.disabled = true;
  } else {
    document.getElementById('productColorError').innerHTML = "";
  }

  if (productbrand === '') {
    document.getElementById('productBrandError').innerHTML = 'brand is required';
    submitButton.disabled = true;
  } else {
    document.getElementById('productBrandError').innerHTML = "";
  }

  if (productprice === '' || parseFloat(productprice) < 0) {
    document.getElementById('productPriceError').innerHTML = 'Price must be a non-negative number';
    submitButton.disabled = true;
  } else {
    document.getElementById('productPriceError').innerHTML = '';
  }

  var variantInputs = document.querySelectorAll('.variant-row');
  var invalidVariant = false;
  variantInputs.forEach(function (variantInput) {
    var sizeInput = variantInput.querySelector('input[name^="variant[size]"]');
    var quantityInput = variantInput.querySelector('input[name^="variant[quantity]"]');

    if (sizeInput.value.trim() === '' || parseFloat(sizeInput.value.trim()) < 0 ||
      quantityInput.value.trim() === '' || parseFloat(quantityInput.value.trim()) < 0) {
      invalidVariant = true;
    }
  });

  if (invalidVariant) {
    document.getElementById('variantError').innerHTML = 'Size and Stock Quantity must be non-negative numbers';
    submitButton.disabled = true;
  } else {
    document.getElementById('variantError').innerHTML = '';
  }
}




</script>


  <%-include("../partials/adminPartials/footer")%>