<%-include("../partials/adminPartials/header")%>

  <style>
    .product-text-container {
      border-radius: 12px;
      width: 100%;
      height: 56px;
      margin-top: 73px;
      box-shadow: 2px 2px 2px 2px grey;

    }
    input.form-control {
      border: 2px solid black;
         
  }

    .add-coupon {
      box-shadow: 2px 2px 2px 2px grey;
      border-radius: 8px;
    }
  </style>
  <div class="product-text-container container mb-4"
    style="display: flex; justify-content: center;align-items: center;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: black;">
    <h4 style=" margin-top: 11px;" id="ManageProduct-text">EDIT COUPON  <i class='fa-solid fa-ticket nav_icon'></i></h4>
  </div>
  <div class="container mt-5 add-coupon mb-3">
    <div class="row justify-content-center ">
      <div class="col-md-4 fw-bold">

        <div class="mb-3 mt-4">
          <label for="couponName" class="form-label">Coupon Name</label>
          <input type="text" class="form-control" id="couponName" name="couponName" value="<%=couponData.couponName %>"
            required>
        </div>
        <div class="mb-3 mt-4">
          <label for="couponCode" class="form-label">Coupon Code</label>
          <input type="text" class="form-control" id="couponCode" name="couponCode" value="<%-couponData.couponCode %>"
            required onchange="validateCouponCode()">
          <small id="couponWarning" class="form-text text-danger d-none">Invalid coupon code. Must contain at least one
            uppercase letter, one lowercase letter, one number, and #</small>
        </div>
        <input type="hidden" id="couponId" name="couponId" value="<%= couponData._id %>">

        <div class="mb-3">
          <label for="minPurchaseAmount" class="form-label">Minimum Purchase Amount</label>
          <input type="number" class="form-control" id="minPurchaseAmount" name="minPurchaseAmount"
            placeholder="Enter minimum purchase amount" value="<%-couponData.minPurchaseAmount %>" onchange="validateInputAmount('minPurchaseAmount')">
          <small id="minAmountWarning" class="form-text text-danger d-none">Amount cannot be negative.</small>
        </div>

        <div class="mb-3">
          <label for="discountAmount" class="form-label">Discount Amount</label>
          <input type="number" class="form-control" id="discountAmount" name="discountAmount"
            placeholder="Enter discount amount"  value="<%-couponData.discountAmount %>" onchange="validateInputAmount('discountAmount')">
          <small id="discountAmountWarning" class="form-text text-danger d-none">Amount cannot be negative.</small>
        </div>

        <div class="mb-3">
            <label class="form-label">Discount Type</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="discountType" id="publicDiscount" value="public" <% if (couponData && couponData.couponType === 'public') { %>checked<% } %>>
                <label class="form-check-label" for="publicDiscount">
                    Public
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="discountType" id="privateDiscount" value="private" <% if (couponData && couponData.couponType === 'private') { %>checked<% } %>>
                <label class="form-check-label" for="privateDiscount">
                    Private
                </label>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="startDate" class="form-label">Start Date</label>
            <input type="date" class="form-control" id="startDate" name="startDate" value="<%- new Date(couponData.startDate).toISOString().split('T')[0] %>" required>
        </div>
        
        <div class="mb-3">
            <label for="endDate" class="form-label">End Date</label>
            <input type="date" class="form-control" id="endDate" name="endDate" value="<%- new Date(couponData.endDate).toISOString().split('T')[0] %>" required>
        </div>

        <div class="mb-3 text-center">
          <button onclick="submitForm()" class="btn btn-success">SAVE</button>

          <a href="/admin/managecoupon" class="btn btn-secondary">Back </a>
        </div>

      </div>
    </div>
  </div>

  <script>
    function validateInputAmount(inputId) {
      const input = document.getElementById(inputId);
      const warning = document.getElementById(inputId + 'Warning');
      const amount = parseFloat(input.value);
      if (amount < 0) {
        warning.textContent = 'Amount cannot be negative.';
        warning.classList.remove('d-none');
      } else {
        warning.classList.add('d-none');
      }
    }

    function validateCouponCode() {
        const couponCodeInput = document.getElementById('couponCode');
        const couponWarning = document.getElementById('couponWarning');

        const couponCode = couponCodeInput.value.trim();

        if (!couponCode) {
            couponWarning.textContent = 'Coupon code is required.';
            couponWarning.classList.remove('d-none');
            return false;
        } else if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#])[A-Za-z\d#]+$/.test(couponCode)) {
            couponWarning.textContent = 'Invalid coupon code. Must contain at least one uppercase letter, one lowercase letter, one number, and #.';
            couponWarning.classList.remove('d-none');
            return false;
        } else {
            couponWarning.classList.add('d-none');

            return true;
        }
    }
if(validateCouponCode){
    function submitForm() {
      const discountTypeElements = document.getElementsByName('discountType');
      let selectedDiscountType;

      for (const element of discountTypeElements) {
        if (element.checked) {
          selectedDiscountType = element.value;
          break;
        }
      }

      const couponData = {
        couponName: document.getElementById('couponName').value,
        couponCode: document.getElementById('couponCode').value,
        minPurchaseAmount: document.getElementById('minPurchaseAmount').value,
        discountAmount: document.getElementById('discountAmount').value,
        startDate: document.getElementById('startDate').value,
        endDate: document.getElementById('endDate').value,
        couponId:document.getElementById('couponId').value,
        discountType: selectedDiscountType
      };


      fetch('/admin/editcoupon', {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(couponData),
      })
        .then(response => response.json())
        .then(data => {
          if(data.success){
            window.location.href='/admin/managecoupon'
          }else{
            window.location.reload()
          }
        })
        .catch(error => {
          console.error('Error during fetch:', error);
       
        });
    }

  }

  </script>

  <%-include("../partials/adminPartials/footer")%>