<%-include("../partials/adminPartials/sidebar")%>


<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.6.0/css/searchBuilder.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.5.1/css/dataTables.dateTime.min.css">

<!-- DataTables JavaScript -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/searchbuilder/1.6.0/js/dataTables.searchBuilder.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.5.1/js/dataTables.dateTime.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

<style>
    .product-text-container{
    /* background-color: aqua; */
    border-radius: 12px;
    width: 100%;
    height: 56px;
    margin-top: 73px;
    box-shadow: 0px 0px 7px -3px;
    }
    table#users {
        border-collapse: collapse;
        width: 100%;
    }

    table#users th, table#users td {
        border: 1px solid #000; /* Adjust the color and thickness as needed */
        padding: 8px; /* Add padding for better appearance */
        text-align: center; /* Center-align text within cells */
    }


    .form-outline {
        display: flex;
        align-items: center; /* Align items vertically center */
    }

    input.form-control {
        width: 200px; /* Adjust the width as needed */
        margin-right: 10px; /* Add margin for spacing between input and button */
    }


</style>

 <div class="product-text-container container-fluid" style="display: flex; justify-content: space-between;">
        <h4 style="    margin-top: 11px;" id="ManageProduct-text">CATEGORY MANAGEMENT</h4>
  
      </div>
    <br>
    <a href="/admin/add/category" class="btn btn-primary">Add Category</a>
    <table class="table align-middle mb-0 bg-white mt-5 table-bordered" style="border: 2px  black; " id="users">
        <thead class="text-white" style="background-color: black;">
            <tr>
                <th>No</th>
                <th>image</th>
                <th>Category Name</th>
                <th>Created On</th>
                <th>Updated On</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% categoryData.forEach((data)=> { %>
                <tr>
                    <td>
                        <%=++i %>
                    </td>
                    <td>
                        <img src="/uploadedImages/<%=data.image %>" alt=""  style="width: 80px; height: 50px ">
                    
                    </td>
                    <td>
                        <%=data.name %>
                    </td>
                    <td>
                        <% if (data.createdAt) { %>
                            <%= new Date(data.createdAt).toLocaleString() %>
                        <% } %> 
                    </td>
                    <td>
                        <% if (data.updatedAt) { %>
                            <%= new Date(data.updatedAt).toLocaleString() %>
                        <% } %>
                    </td>
                    <td
                    class="<%= data.status ? 'text-success fw-bold' : 'text-danger fw-bold' %> table-white ">
                      <% if (data.status) { %>
                      <% value='Active'; %>
                      <% } else { %>
                      <% value='Inactive'; %>
                      <% } %>
                      <%= value %>
                  </td>
                   <td>
                    
                    <a href="/admin/edit/category/<%-data._id %>" class="text-white">
                        <i class="fa-solid fa-pen-to-square fa-xl" style="color: #000000;"></i>
                      </a>

                   </td>
                   <td>
                    <% if (data.status) { %>
                        <!-- If user is active, provide option to block -->
                        <form id="blockForm<%= data._id %>" action="/admin/blockCategory/<%- data._id %>" method="POST">
                            <button type="button" class="text-white font-size btn btn-danger px-3 py-0 block-btn"
                                data-category="<%= data.name %>" data-category-id="<%= data._id %>">Block</button>
                        </form>
                    <% } else { %>
                        <!-- If user is inactive, provide option to unblock -->
                        <form id="unblockForm<%= data._id %>" action="/admin/unblockCategory/<%- data._id %>" method="post">
                            <button type="button" class="text-white font-size btn btn-primary px-3 py-0 unblock-btn"
                                data-category="<%= data.name %>" data-category-id="<%= data._id %>">Unblock</button>
                        </form>
                    <% } %>
                </td>
                
                </tr>
                <% }) %>
        </tbody>
    </table>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
           // For blocking category
           document.querySelectorAll('.block-btn').forEach(button => {
              button.addEventListener('click', function () {
                 const categoryName = this.getAttribute('data-category');
                 Swal.fire({
                    title: 'Block Category',
                    text: `Are you sure you want to block ${categoryName}?`,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, block it!'
                 }).then((result) => {
                    if (result.isConfirmed) {
                       document.getElementById(`blockForm${this.getAttribute('data-category-id')}`).submit();
                    }
                 });
              });
           });
     
           // For unblocking category
           document.querySelectorAll('.unblock-btn').forEach(button => {
              button.addEventListener('click', function () {
                 const categoryName = this.getAttribute('data-category');
                 Swal.fire({
                    title: 'Unblock Category',
                    text: `Are you sure you want to unblock ${categoryName}?`,
                    icon: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, unblock it!'
                 }).then((result) => {
                    if (result.isConfirmed) {
                       document.getElementById(`unblockForm${this.getAttribute('data-category-id')}`).submit();
                    }
                 });
              });
           });
        });

        
     </script>
     
     
     <script>
        $(document).ready(function () {
    $('#users')
      .DataTable();
  });
    </script>

  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.6.0/css/searchBuilder.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.5.1/css/dataTables.dateTime.min.css">