  <%-include('../partials/userPartials/user-nav')%>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
      .product-text-container {
        
          border-radius: 12px;
          height: 56px;
          margin-top: 53px;
          box-shadow: 0px 0px 7px -3px;
      }
      .data{
        border-radius: 12px;
        box-shadow: 0px 0px 7px -3px;
      }
      body{
        overflow-x: hidden;
      }
  </style>



  <body>
    <% if(message){%>
  <span class="text-center mt-4 " id="errorShow" style="color: red;font-weight: bold; font-family: 'Merriweather', serif;  ;">
    <%=message%>
  </span>
  <%}%>
  <script>
    setTimeout(function () {
        document.getElementById('errorShow').style.display = 'block';
              setTimeout(function () {
            document.getElementById('errorShow').style.display = 'none';
        },3000); 
    }, 0); 
  </script>
  <div class="product-text-container p-4 mx-5" style="display: flex; justify-content: center; align-items: center;">
      <h3 style="font-family: 'Merriweather', serif;   margin-top: 11px;" id="ManageProduct-text">MANAGE ADDRESS</h3>
  </div >

  <!-- Button trigger modal -->
  <div class="mx-5 data mt-4 p-3 ">
  <button type="button " class="btn btn-primary  " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      ADD ADDRESS
    </button>
    <a href="/user-profile" class="btn btn-secondary" style="color: #fff; text-decoration: none;"> Back to Profile</a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg  ">
        <div class="modal-content ">
          <div class="modal-header">
            <h1 class="modal-title fs-5 " id="staticBackdropLabel">ADD ADDRESS</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="container  mt-5 mb-5 ">
              <div class="row mx-0 justify-content-center">
                <div class="col-md-6 col-lg-6">
                  <form
                    method="POST"
                    class="w-100 rounded-1 p-4 border bg-white"
                    action="/user-addAddress"
                  >
                    <label class="d-block mb-4">
                      <span class="form-label d-block">Name</span>
                      <input
                      id="addName"
                        name="name"
                        type="text"
                        class="form-control"
                        placeholder="enter your name"
                        onchange="validateAddAddressForm()"
                      />
                      <div id="addNameError" style="color: red;"></div>
                    </label>
            
                    <label class="d-block mb-4">
                      <span class="form-label d-block">Address line </span>
                      <input
                      id="addAddress"
                        name="address"
                        type="text"
                        class="form-control"
                        placeholder="Address(Area and Street) "
                        onchange="validateAddAddressForm()"
                      />
                      <div id="addAddressError" style="color: red;"></div>
                    </label>
            
                
            
                    <label class="d-block mb-4">
                      <span class="form-label d-block">City</span>
                      <input 
                      id="addCity"
                      name="city" type="text" class="form-control" placeholder="City/District/Town" 
                      onchange="validateAddAddressForm()"/>
                      <div id="addCityError" style="color: red;"></div>
                    </label>
            
                    <label class="d-block mb-4">
                      <span class="form-label d-block">State/Province</span>
                      <input
                      id="addState"
                      name="state" type="text" class="form-control" placeholder="State" onchange="validateAddAddressForm()"/>
                      <div id="addStateError" style="color: red;"></div>
                    </label>
            
                    <label class="d-block mb-4">
                      <span class="form-label d-block">Zip/Postal code</span>
                      <input
                      id="addPincode" name="pincode" type="text" class="form-control" placeholder="Pincode" onchange="validateAddAddressForm()"/>
                      <div id="addPincodeError" style="color: red;"></div>
                    </label>
            
                  
            
                    <label class="d-block mb-4">
                      <span class="form-label d-block">Phone</span>
                      <input
                      id="addPhone"
                        name="phone"
                        type="text"
                        class="form-control"
                        placeholder="10-digit mobile number" onchange="validateAddAddressForm()"
                      />
                      <div id="addPhoneError" style="color: red;"></div>
                    </label>
            
                  
            
                    <div class="mb-3  ">
                      <button type="submit" class="btn btn-primary px-4 rounded-3" onclick="return validateAddAddressForm()">
                        Save
                      </button>
                      <button type="button" class="btn btn-danger px-4 rounded-3" data-bs-dismiss="modal">Close</button>

                    </div>
            
                  </form>
                </div>
              </div>
            </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-primary">Understood</button>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row mx-5 ">
    <% addressData.address.forEach(data => { %>
    <div class=" mt-4 col-md-4  ">
      <div class="card " style=" box-shadow: 0px 0px 7px -3px;border-radius: 12px;">
        <div class="card-body">
          <h5 class="card-title">Address Details</h5>
          <p class="card-text">Name:<%=data.name%></p>
          <p class="card-text">Address:<%=data.address%></p>
          <p class="card-text">City:<%=data.city%></p>
          <p class="card-text">State:<%=data.state%></p>
          <p class="card-text">Pincode:<%=data.pincode%></p>
          <p class="card-text">Phone:<%=data.phone%></p>
    
          <!-- Edit and Delete Buttons -->
          <div class="">
          <button type="button " class="btn btn-primary"  onclick="openEditAddressModal('<%= data._id %>')"> EDIT </button>  
          <button type="button" class="btn btn-danger" onclick="deleteAddress('<%= data._id %>')">Delete</button>
          </div>
          <!--edit address modal-->

          <div class="modal fade" id="editAddressModal<%= data._id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editAddressModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg  ">
              <div class="modal-content ">
                <div class="modal-header">
                  <h1 class="modal-title fs-5 " id="editAddressModallabel">EDIT ADDRESS</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="container  mt-5 mb-5 ">
                    <div class="row mx-0 justify-content-center">
                      <div class="col-md-6 col-lg-6">
                        <!--edit address form -->
                        <form method="POST" class="w-100 rounded-1 p-4 border bg-white" action="/user-editAddress/<%= data._id %>">
                          <label class="d-block mb-4">
                            <span class="form-label d-block">Name</span>
                            <input
                              id="editName"
                              name="name"
                              type="text"
                              value="<%=data.name%>"
                              class="form-control"
                              placeholder="enter your name"  onchange="validateEditAddressForm()"
                            />
                            <div id="editNameError" style="color: red;"></div>

                          </label>
                  
                          <label class="d-block mb-4">
                            <span class="form-label d-block">Address line </span>
                            <input
                              id="editAddress"
                              name="address"
                              type="text"
                              class="form-control"
                              value="<%=data.address%>"

                              placeholder="Address(Area and Street) " onchange="validateEditAddressForm()"
                            />
                            <div id="editAddressError" style="color: red;"></div>

                          </label>
                          <label class="d-block mb-4">
                            <span class="form-label d-block">City</span>
                            <input 
                            id="editCity"
                            name="city" type="text" class="form-control" 
                            placeholder="City/District/Town" value="<%=data.city%>"  onchange="validateEditAddressForm()"/>
                            <div id="editCityError" style="color: red;"></div>

                          </label>
                  
                          <label class="d-block mb-4">
                            <span class="form-label d-block">State/Province</span>
                            <input id="editState" name="state" type="text" class="form-control" placeholder="State" value="<%=data.state%>"  onchange="validateEditAddressForm()"/>
                            <div id="editStateError" style="color: red;"></div>

                          </label>
                  
                          <label class="d-block mb-4">
                            <span class="form-label d-block">Zip/Postal code</span>
                            <input id="editPincode" name="pincode" type="text" class="form-control" placeholder="Pincode" value="<%=data.pincode%>"  onchange="validateEditAddressForm()"/>
                            <div id="editPincodeError" style="color: red;"></div> 
                          </label>
                  
                        
                  
                          <label class="d-block mb-4">
                            <span class="form-label d-block">Phone</span>
                            <input
                            id="editPhone"
                              name="phone"
                              type="text"
                              class="form-control"
                              value="<%=data.phone%>"
                              placeholder="10-digit mobile number"  onchange="validateEditAddressForm()"
                            />
                            <div id="editPhoneError" style="color: red;"></div>

                          </label>
                  
          
                  
                          <div class="mb-3  ">
                            <button type="submit" class="btn btn-primary px-4 rounded-3" onclick="return validateEditAddressForm()">
                              Save Changes
                            </button>
                            <button type="button" class="btn btn-danger px-4 rounded-3" data-bs-dismiss="modal">Close</button>
          
                          </div>
                  
                        </form>
                      </div>
                    </div>
                  </div>
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-primary">Understood</button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  </body>

  
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <!-- Add the following script in your HTML file -->
  <script>
    // Function to validate the Edit Address form
    function validateEditAddressForm() {
      console.log('Validating edit addrkkkkkkkkkkkkkkkkkess form...');

      clearEditAddressFormErrors();
  
    const name1 = document.getElementById('editName').value.trim();
    const address1 = document.getElementById('editAddress').value.trim();
    const city1 = document.getElementById('editCity').value.trim();
    const state1 = document.getElementById('editState').value.trim();
    const pincode1 = document.getElementById('editPincode').value.trim();
    const phone1 = document.getElementById('editPhone').value.trim();
  
  
  
      let isValid = true;
  
      // Validate Name
      if (name1 === '') {
        displayEditAddressError('Name is required!', 'editNameError');
        isValid = false;
      }
  
      // Validate Address
      if (address1 === '') {
        displayEditAddressError('Address is required!', 'editAddressError');
        isValid = false;
      }
  
      // Validate City
      if (city1 === '') {
        displayEditAddressError('City is required!', 'editCityError');
        isValid = false;
      }
  
      // Validate State
      if (state1 === '') {
        displayEditAddressError('State is required!', 'editStateError');
        isValid = false;
      }
  
      // Validate Pincode
      if (pincode1 === '') {
        displayEditAddressError('Pincode is required!', 'editPincodeError');
        isValid = false;
      } else if (!/^\d{6}$/.test(pincode1)) {
        displayEditAddressError('Pincode must be 6 digits!', 'editPincodeError');
        isValid = false;
      }
  
      // Validate Phone
      if (phone1 === '') {
        displayEditAddressError('Phone is required!', 'editPhoneError');
        isValid = false;
      } else if (!/^\d{10}$/.test(phone1)) {
        displayEditAddressError('Phone must be 10 digits!', 'editPhoneError');
        isValid = false;
      }
  
      // Additional validation logic can be added here
  
      return isValid;
    }
  
    // Function to display error messages for Edit Address form
    function displayEditAddressError(message, errorContainerId) {
      const errorContainer = document.getElementById(errorContainerId);
      errorContainer.innerText = message;
    }
  
    // Function to clear error messages for Edit Address form
    function clearEditAddressFormErrors() {
      const errorContainers = ['editNameError', 'editAddressError', 'editCityError', 'editStateError', 'editPincodeError', 'editPhoneError'];
      errorContainers.forEach(containerId => {
        const errorContainer = document.getElementById(containerId);
        errorContainer.innerText = '';
      });
    }
  </script>

  <script>
    // Function to validate the Add Address form
    function validateAddAddressForm() {
      const name = document.getElementById('addName').value.trim();
      const address = document.getElementById('addAddress').value.trim();
      const city = document.getElementById('addCity').value.trim();
      const state = document.getElementById('addState').value.trim();
      const pincode = document.getElementById('addPincode').value.trim();
      const phone = document.getElementById('addPhone').value.trim();

      // Clear previous error messages
      clearAddAddressFormErrors();

      let isValid = true;

      // Validate Name
      if (name === '') {
        displayAddAddressError('Name is required!', 'addNameError');
        isValid = false;
      }

      // Validate Address
      if (address === '') {
        displayAddAddressError('Address is required!', 'addAddressError');
        isValid = false;
      }

      // Validate City
      if (city === '') {
        displayAddAddressError('City is required!', 'addCityError');
        isValid = false;
      }

      // Validate State
      if (state === '') {
        displayAddAddressError('State is required!', 'addStateError');
        isValid = false;
      }

      // Validate Pincode
      if (pincode === '') {
        displayAddAddressError('Pincode is required!', 'addPincodeError');
        isValid = false;
      } else if (!/^\d{6}$/.test(pincode)) {
        displayAddAddressError('Pincode must be 6 digits!', 'addPincodeError');
        isValid = false;
      }

      // Validate Phone
      if (phone === '') {
        displayAddAddressError('Phone is required!', 'addPhoneError');
        isValid = false;
      } else if (!/^\d{10}$/.test(phone)) {
        displayAddAddressError('Phone must be 10 digits!', 'addPhoneError');
        isValid = false;
      }

      // Additional validation logic can be added here

      return isValid;
    }

    // Function to display error messages for Add Address form
    function displayAddAddressError(message, errorContainerId) {
      const errorContainer = document.getElementById(errorContainerId);
      errorContainer.innerText = message;
    }

    // Function to clear error messages for Add Address form
    function clearAddAddressFormErrors() {
      const errorContainers = ['addNameError', 'addAddressError', 'addCityError', 'addStateError', 'addPincodeError', 'addPhoneError'];
      errorContainers.forEach(containerId => {
        const errorContainer = document.getElementById(containerId);
        errorContainer.innerText = '';
      });
    }
  </script>






  <script>
    function openEditAddressModal(addressId){
      $('#editAddressModal'+addressId).modal('show')
    }

    function deleteAddress(addressId){
      if(confirm('Are you sure you want to delete this address')){
        fetch(`/user-deleteAddress/${addressId}`,{
          method:'post',
        }).then(response=>response.json())
        .then((data)=>{
          if(data.success){
            window.location.reload()
          }else{
            console.error('error deleting address',data.message);
          }
        })
        .catch((err)=>{
          console.error('error deleting address',err);
        })
      }
    }
    
  </script>

  
  <div style="height: 100px;">

  </div>




  <%-include('../partials/userPartials/user-footer')%>