<%-include('../partials/userPartials/user-nav') %>
<link rel="stylesheet" href="/css/orders.css">
<section style="background-color: #fff;">
    <div class="container py-5 h-100" style="font-family: 'Times New Roman', Times, serif;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <% if (orderDetails.length> 0) { %>
            <% orderDetails.forEach((x)=> { %>
              <div class="card card-stepper p-4 shadow" style="border-radius: 10px;">
                <div class="card-body p-4">
                  <div class="row">
                    <div class="col-md-4">
                      <span class="lead fw-normal" >Your order has been :<strong> '<%= x.status %>'</strong> </span>
                      <br>
                      <ul>
                        <% x.items.forEach((item)=> { %>
                          <li>
                            <b>
                              <%= item.productId ? item.productId.name : 'Product Name Not Available' %>
                              
                            </b><br>
                            <br>
                            Quantity: <%= item.quantity %>
                          </li>
                          <br>
                          
                          <% }); %>
                      </ul>
                    </div>
                
                   <div class="col-md-4">
                    
                        
                    </div>
                    
                    <div class="col-md-4">
                      <a href="/user-orderDetails/<%= x._id%>"><button class="btn btn-outline-success"
                          type="button">Order details</button></a>
                          <div class="float-end">
                          <p class=" "> Order Date: <strong> <%- new Date(x.orderDate).toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %></strong></p>
                          <p class="">Expected On: <strong> <%- new Date(x.arrivingDate).toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %></strong></p>
                        </div>
                        </div>
                  </div>
                  <% if(x.Status=="Return"){ %>
                  <h3>Order Returned</h3>
                    <% }else{ %>
                  <p class="lead fw-bold mb-4 pb-2" style="color:#014122">Order Status:↓</p>
                  <div class="d-flex flex-row justify-content-between align-items-center align-content-center">
                    <% if(x.Status=="Pending" ){%>
                      <span class="d-flex justify-content-center align-items-center big-dot dot">
                        <i class="fa fa-check text-white"></i></span>
                      <%}else{%>
                        <span class="dot"></span>
                        <%}%>
                          <hr class="flex-fill track-line">
                          <% if(x.Status=="Order Placed" ){%>
                            <span class="d-flex justify-content-center align-items-center big-dot dot">
                              <i class="fa fa-check text-white"></i></span>
                            <%}else{%>
                              <span class="dot"></span>
                              <%}%>
                                <hr class="flex-fill track-line">
                                <% if(x.Status=="Shipped" ){%>
                                  <span class="d-flex justify-content-center align-items-center big-dot dot">
                                    <i class="fa fa-check text-white"></i></span>
                                  <%}else{%>
                                    <span class="dot"></span>
                                    <%}%>
                                      <hr class="flex-fill track-line">
                                      <% if(x.Status=="Delivered" ){%>
                                        <span class="d-flex justify-content-center align-items-center big-dot dot">
                                          <i class="fa fa-check text-white"></i></span>
                                        <%}else{%>
                                          <span class="dot"></span>
                                          <%}%>
                                            <% if(x.Status=="Rejected" ){%>
                                              <hr class="flex-fill track-line">
                                              <span
                                                class="d-flex justify-content-center align-items-center big-dot dot custom-dot">
                                                <i class="fa fa-check text-white"></i></span>
                                              <%}%>
                                             

                  </div>
                  <% if(x.Status=="Rejected" ){%>
                    <div class="d-flex flex-row justify-content-between align-items-center">
                      <div class="d-flex flex-column align-items-start">
                        <p class="py-1 px-2 rounded text-white" style="background-color: #dadada;">Pending</p>
                      </div>
                      <p class="py-1 px-2 rounded text-white" style="background-color: #e7e7e7;">Order Placed</p>
                      <p class="py-1 px-2 rounded text-white" style="background-color: #dadada;">Shipped</p>
                      <p class="py-1 px-2 rounded text-white" style="background-color: #dbdbdb;">Delivered</p>
                      <p class="py-1 px-2 rounded text-white" style="background-color: #ff4545;">Rejected</p>
                    </div>
                   <%}else if(x.Status=="Cancelled" ){%>
                      <div class="d-flex flex-row justify-content-between align-items-center">
                        
                        <p class="py-1 px-2 rounded text-white" style="background-color: #dfdfdf;">Order Placed</p>
                        <p class="py-1 px-2 rounded text-white" style="background-color: #dddddd;">Shipped</p>
                        <p class="py-1 px-2 rounded text-white" style="background-color: #c7c7c7;">Delivered</p>
                        <p class="py-1 px-2 rounded text-white" style="background-color: #ff4545;">Cancelled</p>
                      </div>
                    
                    <%}else{%>
                      <div class="d-flex flex-row justify-content-between align-items-center">
                        <div class="d-flex flex-column align-items-start">
                          <p class="py-1 px-2 rounded text-white" style="background-color: #2790f3;">Pending</p>
                        </div>
                        <p class="py-1 px-2 rounded text-white" style="background-color: #2790f3;">Order Placed</p>
                        <p class="py-1 px-2 rounded text-white" style="background-color: #2790f3;">Shipped</p>
                        <p class="py-1 px-2 rounded text-white" style="background-color: #2790f3;">Delivered</p>
                      </div>
                      <%}%>
                      

                        <div class="d-flex justify-content-between pt-2">
                          <div class="d-flex justify-content-between pt-2">
                            <% if (x.Status !== "Cancelled" && x.Status !== "Delivered") { %>
                                <button class="btn btn-danger" id="cancelOrderBtn" data-order-id="<%= x._id %>">Cancel Order</button>
                            <% } %>
                        </div>
                        
                          <% if (x.Status==="Delivered" ){%>
                            <button type="button" class="btn btn-dark m-2" onclick="generateAndDownloadInvoice('<%= x._id %>')">
                              Download Invoice
                          </button>
                            <%}%>
                        </div>
                        <!-- <a href=""><span class="py-1 px-2 rounded text-white" style="background-color: #f3ac27;">Cancell Order</span></a> -->
                        <!-- </div> -->
                        <!-- </div> -->
                        <!-- </div>  -->
                        <br>
                        <% } %>
                </div>
              </div>

              <br>
              <% }); %>
                <% } else { %>
                    <div class="card mb-4">
                        <!-- Image Container -->
                        <div class="position-relative">
                            <div class="image-container d-flex align-items-center justify-content-center" style="height: 400px;">
                                <img src="/images/FIKSdw_UUAACnAs (1) (1).png" alt="Cart image" class="img-fluid" />
                            </div>
                            <!-- Button Container -->
                            <div class="position-absolute top-50 start-50 translate-middle" style="margin-top: 120px;" >
                                <a href="/user-viewallProduct" class="btn btn-primary">Start Shopping</a>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                    
                  <% } %>
        </div>
      </div>
    </div>
  </section>

<%-include('../partials/userPartials/user-footer')%>
