<%-include('../partials/userPartials/user-nav')%>

  <!-- <link rel="stylesheet" href="/css/userlog.css"> -->
  <link rel="stylesheet" href="/css/userhomepage.css">

  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/heroimage.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/heroimg2.png" class="d-block w-100" alt="...">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <main>

    <div class="container-fluid my-5 px-0">
      <header class="mb-4 sub-head" style="font-family:radley;font-size:25px;">
        <h3 class="text-center sub-headi" style="color: #014122; text-decoration: underline; font-size: 2.5rem;">Popular
          Categories</h3>
      </header>
      
      <div class="row my-5 ">
        <div class="col  d-flex justify-content-around flex-wrap">
          <% categoryData.forEach(data=> { %>
            <div class="card my-2 shadow-0 custom-card  mx-auto shadow p-3 mb-5 bg-white">
              <a href="/user-categoryList/<%= data._id %>" class="">
                <img src="/uploadedImages/<%= data.image %>" class="card-img-top rounded-2 custom-image">
              </a>
              <div class="card-body p-0 pt-2 custom-button">
                <button class="btn btn " style="color: white; padding-bottom:10px;">
                  <%=data.name%>
                </button>
              </div>
            </div>

            <% }) %>
        </div>
      </div>
      <img src="/images/second img.png" class="img-fluid d-block mx-auto content mt-5">
      <header class="mb-4 sub-head mt-4" style="font-family:radley;font-size:25px;">
        <h3 class="text-center sub-headi pt-3" style="color: #014122; text-decoration: underline; font-size: 2.5rem;">
          Top
          Selling</h3>
      </header>
     
      <hr>

      <header class="mb-4 sub-head mt-5" style="font-family:radley;font-size:25px;">
        <h3 class="text-center sub-headi pt-3" style="color: #014122; text-decoration: underline; font-size: 2.5rem;">
          All Products</h3>
      </header>
      <section>
        <div class="container">
          <div class="row custom-a">
            <% productData.forEach((data)=> { %>
              <div class="col d-flex justify-content-around flex-wrap col-lg-3 imgviv " data-product-id="<%=data._id%>" >
                <div class="custom-card-container ms-5 mt-5">
                  <a  onclick="addToWishlist('<%-data._id%>')" class="custom-icon-heart" style="border: none; background: none; padding: 0; font: inherit; cursor: pointer;"> <i class="fa-regular fa-heart" style="font-size: 25px;"></i></a>
                  <i class="fa-regular fa-circle-check custom-icon-cart" style="color: #09672a;"></i>
                  <a href="/user-productDetails/<%-data._id %>">
                    <img class="card-img-top" src="/productImages/<%=data.images[0]%>" alt="Card image cap"
                      height="190px" width="210px">
                  </a>
                </div>
                <div class="custom-additional-info ms-5">
                  <a href=" /user/product/details/">
                    <p>
                      <%=data.name%>
                    </p>
                  </a>
                  <p class="custom-p">₹ <%=data.price%> 
                  </p>
                </div>
              </div>
              <% }) %>
          </div>
          <div class="col text-center">
            <a href="/user-viewallProduct" class="btn btn-success mt-5 width:auto " style="background-color: #014122; padding: 8px 30px; border-radius: 20px;">View All</a>
           </div> 
        </div>
       
      </section>
    </div>
  </main>

  <script>
    // window.addEventListener('load', (event) => {
    // const allProductItems = document.querySelectorAll('.imgviv');
  

    
    // allProductItems.forEach(item => {
    //     const heartIcon = item.querySelector('.custom-icon-heart');
    //     heartIcon.addEventListener('click', function (event) {
    //         event.preventDefault();

         
    //         const productId = item.getAttribute('data-product-id');

            
    //         addToWishlist(productId);
    //     });
    // });

    function addToWishlist(productId){
        fetch(`/user-addToWishlist?productId=${productId}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },

    })
    .then(response => response.json())
    .then(result => {
        window.location.reload()
        console.log('Product added to wishlist:', result);
       
    })
    .catch(error => console.error('Error adding product to wishlist:', error));
    }

    // ... rest of your existing code ...

</script>




  <%-include('../partials/userPartials/user-footer')%>