<%-include('../partials/userPartials/user-nav') %>
<!-- 
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/searchbuilder/1.6.0/js/dataTables.searchBuilder.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.5.1/js/dataTables.dateTime.min.js"></script> -->



<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color:whitesmoke;
        /* margin-top: 10vh; */
    }

    header {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    .wallet-container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .balance {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center; /* Center-align the balance text */
    }

    .history {
        border-top: 1px solid #ccc;
        margin-top: 20px;
        padding-top: 20px;
    }

    .transaction {
        margin-bottom: 10px;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        padding: 8px;
        text-align: left;
        width: 33.33%; /* Equal width for each column */
    }
    table#wallet {
        border-collapse: collapse;
        width: 100%;
    }

    table#wallet th, table#wallet td {
        border: 1px solid #000;
        padding: 8px; 
        text-align: center; 
    }
</style>
</head>
<body>

<div class="container-fluid">
<div style="height: 5vh;">

</div>
<div class="wallet-container">
    <div>
        <h1 style="font-family: l;">WALLET  <img src="https://cdn-icons-png.flaticon.com/128/60/60484.png"  style="width: 35px;height:35px;"></h1>
        
    </div>
    <div style="background-color: black; border-radius: 10px;">
        <div class="balance" style="color: white; height: 200px;">
            <br>
            <br>
            <p style="font-size: medium;">Available Balance:</p>
            <% if (totalAmount) { %>
                <p>₹ <%-totalAmount %></p>

            <% }else{%>
                <p>₹ 0</p>
           <% } %>
        </div>
    </div>
    <div class="history">
        <h2>Wallet History :</h2>
        <hr>
        <table id="wallet" class="table-responsive">
            <thead >
                <tr style="color: black;">
                    <th><p>Type</p></th>
                    <th><p>Amount</p></th>
                    <th><p>Description</p></th>
                    <th><p>Date</p></th>
                </tr>
            </thead>
            <tbody style="font-weight: 600;">
                <% userData.wallet.transactions.forEach(x => { %>
                    <tr>
                        <td><%-x.transactionType %></td>
                        <% if (x.transactionType==='credit') { %>
                            <td style="color: green;font-weight: bold;">+ <%-x.amount %></td>
                            
                        <% }else{%>
                            <td style="color:red;">- <%-x.amount %></td>
                        <%} %>
                        <td style="white-space: nowrap;"><%-x.description %></td>
                        <td style="white-space: nowrap;"><%-new Date(x.timestamp).toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' })%> </td>
                    </tr>
                <% }) %>
                
            </tbody>
        </table>
       
    </div>
</div>

<div style="height: 5vh;">

</div>
<nav aria-label="Page navigation example" class="d-flex justify-content-end mt-3" id="pagination-navbar">
    <ul class="pagination">
        <li class="page-item <%= page <= 1 ? 'disabled' : '' %>">
            <a class="page-link" href="<%= page <= 1 ? '#' : '/user-wallet?page=' + (page - 1) %>" style="color: black;" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/user-wallet?page=<%= page %>" style="color: black"><%= page %></a>
        </li>
        <li class="page-item <%= page >= count ? 'disabled' : '' %>">
            <a class="page-link" href="<%= page >= count ? '#' : '/user-wallet?page=' + (page + 1) %>" style="color: black;" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
</div>


  



  <style>


    @media (max-width: 500px) {
        table#wallet {
            font-size: 10px; 
        }

        table#wallet th, table#wallet td {
            padding: 4px; 
        }
    }
</style>


<%-include('../partials/userPartials/user-footer')%>